.App {
  font-family: Roboto, regular;
  margin-top: 10px;
}

.App-logo {
  margin-left: 20px;
  margin-right: 20px;
}

.scooter {
  height: 50px; 
}

.title {
  color: maroon;
  font-weight: bold;
  text-align: center;
}

.App-header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  font-size: calc(9px + 2vmin);
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 480px) {
  .center-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .center-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}